<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>Leads Ajax Example</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <ul class='navbar-nav'>
            <li class="nav-item">
                <span class="navbar-brand">Ajax Pagination (Python/Django/SQLite)</span>
            </li>
        </ul>
    </nav>
    <div class="container mt-5">
        <form action="/find" method="POST" class="form-inline" id="find_lead">
            {% csrf_token %}
            Name: <input type="text" name="name_starts_with" class="form-control mx-3">
            <span class="ml-5 mr-3">From Date: <input type="date" name="from_date" class="form-control" value='2018-10-01'></span>
            To Date: <input type="date" name="to_date" class="form-control mx-3" value='2019-02-06'>
            <input type="hidden" name="page_number" value="1">
        </form>
        <div id="placeholder">
            <div class="text-right">
                <h4 class="my-3">{% for page in num_pages %}
                        {% if page == end_index %}
                        <a href="#" data-value='{{ page }}'>{{ page }}</a>
                        {% else %}
                        <a href="#" data-value='{{ page }}'>{{ page }}</a> | 
                        {% endif %} 
                    {% endfor %}</h4>
            </div>
            <table class="table table-bordered table-striped mt-4">
                <thead>
                    <tr>
                        <th>Lead ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Registered Date/Time</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lead in leads %}
                    <tr>
                        <td>{{ lead.id }}</td>
                        <td>{{ lead.first_name }}</td>
                        <td>{{ lead.last_name }}</td>
                        <td>{{ lead.created_at }}</td>
                        <td>{{ lead.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<script>
function submitForm(){
    $.ajax({
        method: 'POST',
        url: $('#find_lead').attr('action'),
        data: $('#find_lead').serialize(),
        success: function(response1){
            $('#placeholder').html(response1);
        }
    });
}
$('input[name=from_date], input[name=to_date]').on('change', function(){
    submitForm();
});

$('input[name="name_starts_with"]').keyup(function(){
    submitForm();
})

$('#placeholder').on("click", "a", function() {
  $('input[name=page_number]').val( $(this).attr('data-value') );
  submitForm();
});
</script>

</body>
</html>