<div class="text-right" id="page_numbers">
    <h4 class="my-3">{% for page in num_pages %}
            {% if page == end_index %}
                <a href="#" data-value='{{ page }}'>{{ page }}</a>
            {% else %}
                <a href="#" data-value='{{ page }}'>{{ page }}</a> | 
            {% endif %} 
        {% endfor %}</h4>
</div>

<table class="table table-bordered table-striped mt-4">
    <thead>
        <tr>
            <th>Lead ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Registered Date/Time</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for lead in leads %}
        <tr>
            <td>{{ lead.id }}</td>
            <td>{{ lead.first_name }}</td>
            <td>{{ lead.last_name }}</td>
            <td>{{ lead.created_at }}</td>
            <td>{{ lead.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>